#heading {
  color: blueviolet;
}
.icons {
  width: 100px;
  height: 60px;
  background-color: rgb(196, 228, 255);
  border-radius: 50px;
  border: 2px dashed darkcyan;
}
.searchbox {
  margin: 1pc;
  width: 200px;
  height: 50px;
  color: rgb(88, 55, 61);
  border-radius: 45px;
  border: 5px solid rgb(82, 27, 149);
  text-align: center;
}
